
h1 
{ font-family: 'Roboto Slab', serif;
  font-size: 45px;}
h2{font-family:  sans-serif;
}
h3{font-family:  sans-serif;
   color:white;
}
h4{font-family:  sans-serif;
   color:white;
}
h5{font-family: 'Open Sans Condensed', sans-serif;
}
h6
{
   
    font-family: 'Nunito', sans-serif;

}

 p
 {
    font-family: 'Nunito', sans-serif;
    color:white;
 }
 li{
    font-family: 'Nunito', sans-serif;
    color:white;
    font-size: 15px;

 }
 title
 {
    font-family: 'Nunito', sans-serif;

 }
#intro
{
   font-family: 'Nunito', sans-serif;
  
}
#aboutme
{
   font-family: 'Nunito', sans-serif;
   color:white;

}
#coursework
{

   background-image: url("/bc.jpg");
} 
#UW
{ font-family: 'Nunito', sans-serif;
   color:white;}
 
 
 
 imagee{
   color: #0D4280 ;
 }
caution
{
   font-family: 'Open Sans Condensed', sans-serif;
}


#particles-js{
   width: 100%;
   height: 100%;
   background-color: #b61924;
   background-image: url('');
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
 }
 