
h1 
{ font-family: 'Roboto Slab', serif;
  font-size: 25px;}
h2{font-family: 'Open Sans Condensed', sans-serif;
}
h3{font-family: 'Open Sans Condensed', sans-serif;
}
h4{font-family: 'Open Sans Condensed', sans-serif;
}
h5{font-family: 'Open Sans Condensed', sans-serif;
}
h6
{
   
    font-family: 'Nunito', sans-serif;

}
 p
 {
    font-family: 'Nunito', sans-serif;
 }
 li{
    font-family: 'Nunito', sans-serif;
    color: #F09648 ;

 }
 title
 {
    font-family: 'Nunito', sans-serif;

 }
 init
 {

   height: 200px;
   width: 50%;
   background-color: powderblue;
   
 }
 
 imagee{
   color: #0D4280 ;
 }
caution
{
   font-family: 'Open Sans Condensed', sans-serif;
}